.border-contact {
    --bs-border-opacity: 1;
    border-color: var(--color-primary-hover) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.border-contact:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15),
                0 24px 48px rgba(0, 0, 0, 0.2);
}

.btn_contact {
    border-color: var(--color-primary-hover) !important;
    background-color: var(--color-primary-hover) !important;
    color: var(--color-white);
}

.btn_contact:hover {
    background-color: var(--color-accent) !important;
    color: var(--color-white);
}