.formulario{
    display: flex;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    background-image: url("https://userscontent2.emaze.com/images/bdcf28ae-21e6-4c26-b2cd-015a89e29742/68ee0f7f6e2086df41d7cc1606cff7f4.png");
}

.form{
    width: 60%;
    background-color:#ccc;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 20%);
    border-radius: 50px;
}




h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #6a11cb;
}

.form-group {
    margin-bottom: 1rem;
    margin-right: 45px;
    margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #6a11cb;
}

textarea {
    resize: none;
    border-radius: 30px;
}

.btn-submit {
    display: block;
    width: 50%;
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0.8rem;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
    margin-bottom: 20px

}

.btn-submit:hover {
    background: #2575fc;
}

.ico-form{
    width: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subtitle{
    color: var(--subtitle-color);
    margin-bottom: 20px;
}


.header_contacto{
    background-image: url("../assets/back_contacto.jpg");
    background-size: cover; 
    background-position:bottom;
    background-repeat: no-repeat;
    min-height: 30vh;
}

@media (width <= 768px) {
    .header_contacto{
        height: 100px;
    } 

    .form{
        width: 90%;
        height: auto;
    } 
}