.titulo{
    color: var(--color-white);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1px;
}

.titulo_{
    color: var(--color-primary-light);
    font-size: 3rem;
    font-weight: bold;
}

.subTitulo{
    margin-top: 20px;
    color: var(--color-white);
    text-align: left;
}

.padding_top{
    padding-top: 5%;
}

.padding_card{
    padding-top: 5%;
}

.padding_top_button{
    padding-top: 5%;
}

.btn-secondary_{
    /*border: 1px solid var(--divider-color);*/
    background-color: var(--color-primary-hover);
    color: var(--color-white);
}

.btn-secondary_:hover{
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.btn-border{
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.btn-border:hover{
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
}

.btn-portafolio{
    border: 1px solid var(--color-primary-light);
    color: var(--color-primary-light);
    font-weight: bold;
    width: 200px;
    height: 30px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.link_hover:hover{
    color: var(--color-accent)
}

.border{
    border: 1px solid var(--color-primary);
    min-height: auto;
    height: auto;
    padding-bottom: 5%;
}

.title_antes{
    font-weight: bold;
    color: var(--color-primary-light);
}

.section_title{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.section_underline {
    width: 10%;
    height: 2px;
    background: var(--color-primary-light);
    margin: 0 auto;
}

.img_card{
    padding-top: 5%;
    width: 60%;
}

.i_{
    color: var(--color-primary-light);
    font-weight: bold;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-justify {
    text-align: justify;
}

@media (max-width: 768px){
    [style*="width: 18rem;"] {
        width: 100% !important;
    }

    .padding_top{
        padding-top: 30%;
    }

    .card {
        width: 100% !important;
        max-width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }

}